<div class="border shadow-sm rounded-lg">
  <div class="relative w-full overflow-auto">
    <table class="w-full caption-bottom text-sm">
      <thead class="[&amp;_tr]:border-b" >
      <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted" >
        <th
          class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
          >Name
        </th>
        <th
          class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
          >Surname
        </th>
        <th
          class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
          >Job Title
        </th>
        <th
          class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
          >Date of Birth
        </th>
        <th
          class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
          >Actions
        </th>
      </tr>
      </thead>
      <tbody class="[&amp;_tr:last-child]:border-0" >
      <tr *ngFor="let employee of employees" class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted" >
        <td class="p-4 align-middle font-medium" >{{ employee.name }}</td>
        <td class="p-4 align-middle" >{{ employee.surName }}</td>
        <td class="p-4 align-middle capitalize" >{{ employee.job }}</td>
        <td class="p-4 align-middle">{{ employee.birthDate | date: 'yyyy-MM-dd'}}</td>
        <td class="p-4 align-middle" >
          <div class="flex items-center gap-2" >
            <button
              (click)="edit(employee)"
              title="Editar"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 w-10"
              >
              <svg width="18" height="18" fill="#000000" viewBox="0 0 528.899 528.899">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier"> <g>
                  <path d="M328.883,89.125l107.59,107.589l-272.34,272.34L56.604,361.465L328.883,89.125z M518.113,63.177l-47.981-47.981 c-18.543-18.543-48.653-18.543-67.259,0l-45.961,45.961l107.59,107.59l53.611-53.611 C532.495,100.753,532.495,77.559,518.113,63.177z M0.3,512.69c-1.958,8.812,5.998,16.708,14.811,14.565l119.891-29.069 L27.473,390.597L0.3,512.69z"></path>
                </g>
                </g>
              </svg>
              <span class="sr-only" >Edit</span></button>
            <button
              (click)="delete(employee.id)"
              title="Eliminar"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 w-10"
              >
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                   class="h-4 w-4" >
                <path d="M3 6h18"></path>
                <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
                <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
              </svg>
              <span class="sr-only" >Delete</span></button>
          </div>
        </td>
      </tr>
      <tr *ngIf="employees.length === 0">
        <td colspan="5" class="p-4 text-center">No hay datos para mostrar</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
